<!DOCTYPE html>
<html lang="en">
    <head>
        {# Bloque metatags #}
        {% block meta %}
            {% include "layout/_metatags.njk" %}
        {% endblock %}
        <title>Frontend Mentor | Four card feature section</title>
        <link rel="stylesheet" type="text/css" media="screen" href="content/css/vendors/bootstrap-5.0.2/bootstrap.css">
        <!-- <link rel="stylesheet" type="text/css" media="screen" href="content/css/main.css"> -->
        {% block css %}
            {# Bloque de estilos por página #}
        {% endblock %}
    </head>
    <body>

        {# main content block #}
        {% block content %}
        
        {% endblock %}

        <script src="content/js/main.js"></script>
        <script src="content/js/vendors/bootstrap-5.0.2/bootstrap.bundle.js"></script>
        {% block js %}
            {# Bloque de js por página #}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
    </body>
</html>