<div class="container d-flex flex-column justify-content-center align-items-center">
    <footer>
        <p class="attribution mb-1">
          Challenge by <a class="text-decoration-none" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
          Coded by <a class="text-decoration-none" href="https://marianoajl.github.io/marianoajl/">marianoajl</a>.
        </p>
    </footer>
</div>    


