<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Asistencia al viajero ASSIST CARD Argentina. Viajá tranquilo a Europa, USA, Caribe, Sudamérica y todo el mundo. Contratá ahora en la web.">
<meta name="HandheldFriendly" content="true">
<meta content="es-WW" http-equiv="content-language">
<meta property="og:title" content="Asistencia al Viajero - M&#225;s que un seguro de viaje ASSIST CARD. "/>
<meta property="og:description" content="Asistencia al viajero ASSIST CARD Argentina. Viaj&#225; tranquilo a Europa, USA, Caribe, Sudam&#233;rica y todo el mundo. Contrat&#225; ahora en la web." />
<meta property="og:url" content="https://www.assistcard.com/ar" />
<meta name="robots" content="index,follow">

