{% macro cardPortal (class, title, paragraph, src, alt) %}
<article class="{{class}}">
    <div class="text-card">
        <h3 class="title">{{title}}</h3>
        <p class="paragraph">{{paragraph}}</p>
    </div>
    <div class="icon">
        <img class="icon" src="{{src}}" alt="{{alt}}">
    </div>
</article>
{% endmacro %}