{# extending #}
{% extends "layout/_default.njk" %}
<!-- Main CSS file por ahora lo ponemos aca pero tenemos que hacer un condicional en el layout creo, 
veamos, porque desarrollo también tiene que cargar los estilos de cada página fuera del layout-->

{# import macros de la tarjeta #}
{% import "macros/_cardportal.njk" as card %}

{# Bloque de estilos especificos de éstá página #}
{% block css %}

    <!-- El favicon pudo haber estado en el _default.njk  en el caso de que fuesen varias páginas de la misma empresa--> 
    <link rel="icon" href="content/img/favicon-32x32.png" type="image/x-icon"/>

    <link rel="stylesheet" type="text/css" href="content/css/portal.css">
{% endblock %}

<!-- endbuild -->
{% block content %}

    <main class="main container d-flex flex-column justify-content-between align-items-center"> 

        <header class="header container d-flex flex-column justify-content-center align-items-center">
            <h2 class="title-one text-center"> Reliable, efficient delivery</h2> 
            <h2 class="title-two text-center"> Powered by Technology</h2> 
            <p class="main-paragraph text-center"> Our Artificial Intelligence powered tools use millions of project data points 
            to ensure that your project is successful</p> 
        </header>
        <!-- Include cards section -->
        <section class="container d-flex flex-column justify-content-center align-items-center">
            <div class="row">
                <div class="left-part col-lg-4 d-flex flex-column justify-content-center align-items-center">
                    {% block supervisorCard %}
                        {{ card.cardPortal( 'article-supervisor', 'Supervisor', 'Monitors activity to identify project roadblocks', 'content/img/icon-supervisor.svg', 'icon-supervisor') }}
                        {# {% include "layout/partials/portal/_supervisor.njk" %} #}
                    {% endblock %}
                </div>
                <div class="center col-lg-4 d-flex flex-column justify-content-center align-items-center">
                    {% block teambuilderCard %}
                        {{ card.cardPortal( 'article-team-builder', 'Team Builder', 'Scans our talent network to create the optimal team for your project', 'content/img/icon-team-builder.svg', 'icon-team-builder') }}
                        {# {% include "layout/partials/portal/_team-builder.njk" %} #}
                    {% endblock %}
                    {% block karmaCard %}
                        {{ card.cardPortal( 'article-karma', 'Karma', 'Regularly evaluates our talent to ensure quality', 'content/img/icon-karma.svg', 'icon-karma') }}
                        {# {% include "layout/partials/portal/_karma.njk" %} #}
                    {% endblock %}
                </div>
                <div class="right-part col-lg-4 d-flex flex-column justify-content-center align-items-center">
                    {% block calculatorCard %}
                        {{ card.cardPortal( 'article-calculator', 'Calculator', 'Uses data from past projects to provide better delivery estimate', 'content/img/icon-calculator.svg', 'icon-calculator') }}
                        {# {% include "layout/partials/portal/_calculator.njk" %} #}
                    {% endblock %}
                </div>
            </div>
        </section>
    
        {% block footer %}
            {% include "layout/_footer.njk" %}
        {% endblock %}
    </main>
{% endblock %}
{% block js %}
    {# Bloque de estilos especificos de éstá página #}
    <script type="text/javascript" src="content/js/index.js"></script>
{% endblock %}