<!-- Include card | calculator section -->

<article class="article-calculator">
    <div class="text-card">
        <h3 class="title">Calculator</h3>
        <p class="paragraph">Uses data from past projects to provide better delivery estimates</p>
    </div>
    <div class="icon">
        <img class="icon" src="content/img/icon-calculator.svg" alt="icon-calculator">
    </div>
</article>
