<!-- Include card | karma section -->

<article class="article-karma">
    <div class="text-card">
        <h3 class="title">Karma</h3>
        <p class="paragraph">Regularly evaluates our talent to ensure quality</p>
    </div>
    <div class="icon">
        <img class="icon" src="content/img/icon-karma.svg" alt="icon-karma">
    </div>
</article>
