 <!-- Include card | supervisor section -->

<article class="article-supervisor">
    <div class="text-card">
        <h3 class="title">Supervisor</h3>
        <p class="paragraph">Monitors activity to identify project roadblocks</p>
    </div>
    <div class="icon">
        <img class="icon" src="content/img/icon-supervisor.svg" alt="icon-supervisor">
    </div>
</article>
