<!-- Include card | team-builder section -->

<article class="article-team-builder">
    <div class="text-card">
        <h3 class="title">Team Builder</h3>
        <p class="paragraph">Scans our talent network to create the optimal team for your project</p>
    </div>
    <div class="icon">
        <img class="icon" src="content/img/icon-team-builder.svg" alt="icon-team-builder">
    </div>
</article>